*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html
{
    scroll-behavior: smooth;
}
.process-section
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-heading {
    font-size: 45px;
    font-weight: bold;
    line-height: 1;
}
.second-heading {
    font-size: 18px;
    font-weight: 500;
    margin-top: 1rem;
}
.process-text
{
    text-align: center;
    /* font-family: "Outfit", Raleway; */
    font-size: 15px;
    font-weight: 300;
    line-height: 29px;
    color: #545455;
}
.process-states
{
    height: auto;
    position: relative;
    padding: 50px 0 10px;
    margin-bottom: 50px;
    scroll-snap-type: y mandatory;
}
.process-steps{
    scroll-snap-type: y mandatory;
}
.process-timeline
{
    position: absolute;
    inset-block: 0;
    left: calc(50% - 1px);
    border-radius: 7px ! Important;
    border-width: 4px ! Important;
    border-style: solid;
    border-color: #ff7000;
}
.tactor
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 50px;
    height: 50px;
    pointer-events: none;
    z-index: 20;
}
.tactor img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
    height: 50px;
    transition: transform 100ms linear;
    will-change: transform;
    backface-visibility: hidden;
    z-index: 99;
}
/* .process-timeline img
{
    left: calc(50% - 1px);
} */
.process-step
{
    display: flex;
    flex: 1 1 50%;
    padding: 0 2rem;
    gap: 2rem;
    margin-bottom: 4rem;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    align-items: center;
}
.process-step:nth-child(even)
{
    flex-direction: row-reverse;
}
.process-step:nth-child(even) .process-step-content
{
    padding-left: 11%;
}
.process-step:nth-child(odd) .process-step-content
{
    padding-right: 11%;
    padding-left: 50px;
}

.process-step-content
{
    width: 50%;
    max-width: 50%;
}
.process-step-content  .content
{
   width: 100%;
}
.counter
{
    font-size: 36px;
    font-weight: 700;
    color: #ff7000;
}
.process-step-heading
{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.process-step-desc
{
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    line-height: 24px;
    color: #545455;
}
.dot
{
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    width: 18px;
    height: 18px;
    border: solid 2px #fff;
    border-radius: 50%;
    background-color: #715C56;
    margin-left: -5px;
    z-index: -1;
}
.process-step-img
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.process-step-img .image,.process-step-content .content
{
    padding: 30px 30px;
}
.process-step-img .image img
{
    width: 100%;
    height: 100%;;
}

@media screen and (max-width:450px) {
    
    .process-section
    {
        height: auto;
    }
    .process-section .first-heading {
        font-size: 22px;
    }
    .process-section .second-heading {
        font-size: 15px;
    }
    .process-section .container
    {
        padding-left: 0;
        padding-right: 0;
    }
    .process-timeline
    {
        left: calc(10% - 1px);
    }
    .dot
    {
        left: calc(10% - 6px);
    }
    .process-step
    {
        
        padding: 0 1rem;
        gap: 0;
        text-align: center;
    }
    .process-step:nth-child(even),.process-step:nth-child(odd)
    {
        flex-direction: column;
    }
    .process-step:nth-child(even) .process-step-content,.process-step:nth-child(odd) .process-step-content
    {
        padding: 0;
        max-width: 100%;
        margin-left: 50px;
    }
    .process-step-content
    {
        width: 70%;
        max-width: 70%;
        margin-left: 50px;
    }
    .process-step-content .content
    {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .process-step-img
    {
        width: 60%;
    }
    .process-step-img .image, .process-step-content .content {
    padding: 0;
    }
    .process-step-img
    {
        width: 80%;
        margin-left: 50px;
    }
    .process-step-img .image img {
        width: 100%;
        height: auto;
    }
    .counter
    {
        margin-bottom: 5px;
    }
    .process-step-heading
    {
        margin-bottom: 1px;
    }
}